@model University_Website.Models.EventParticipants

@{
    ViewBag.Title = "JoinEvent";
}

<h2>JoinEvent</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>EventParticipants</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <b>
                Event Name:
                @ViewBag.Eventname
            </b>
            @Html.Hidden("EventID", (object)ViewBag.Eventdata.EventID)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Attendence, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Attendence, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Attendence, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Review, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Review, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Review, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserComment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserComment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserComment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
          <b>  Like or Dislike</b>

                @Html.EnumDropDownListFor(model => model.userchoice, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.userchoice, "", new { @class = "text-danger" })
 
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 ">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
