@model IEnumerable<University_Website.Models.Club>

@{
    ViewBag.Title = "ViewClubs";
}

<h2>ViewClubs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClubName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EligibleAge)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClubName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EligibleAge)
        </td>
        <td>
            @Html.ActionLink("Join Club", "JoinClub", new { id = item.ClubId }) |
            @Html.ActionLink("View existing members", "ViewEMembers", new { id = item.ClubId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ClubId })
        </td>
    </tr>
}

</table>
