<div>
    @Html.ActionLink("View Grievances", "ViewGrievance")
    <br />
    @Html.ActionLink("View Issues", "ViewIssues")
    <br />
    @Html.ActionLink("Add New Club", "AddClub")
    <br />
    @Html.ActionLink("View Club Members", "ViewClubMembers")
    <br />
    @Html.ActionLink("Click here to create events", "CreateEvent")
    <br />
    @Html.ActionLink("Click here to add social services", "CreateSS")
    <br />
    @Html.ActionLink("Click here to view Social Services", "ViewSS")
    <br />
    @Html.ActionLink("Social service reports", "Socialservicereport")
    <br />
    @Html.ActionLink("Reports", "Reports")
    <br />
    @Html.ActionLink("Logout", "logout")


</div>
