@model IEnumerable<University_Website.Models.EventParticipants>

<h2>PdfEventpartReport</h2>

<p>
    @ViewBag.type
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.events.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userRegistration.First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attendence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Review)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userchoice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.events.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userRegistration.First_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Attendence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Review)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserComment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userchoice)
        </td>
    </tr>
}

</table>
