@model IEnumerable<University_Website.Models.SocialServiceParticipants>


<h2>PdfSocialservicepartReport</h2>

<p>
    @ ViewBag.type
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.socialService.SocialServiceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userRegistration.First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunterOrNot)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.socialService.SocialServiceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userRegistration.First_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VolunterOrNot)
        </td>
       
    </tr>
}

</table>
