@model IEnumerable<University_Website.Models.UserRegistration>

@{
    ViewBag.Title = "Perticularsocialservicereport";
}

<h2>Perticularsocialservicereport</h2>
@Html.ActionLink("Generate Report", "Perticularssreportpdf", new { id = ViewBag.socialservicedata.SocialServiceId }) |
<p>
    Social Service Name = @ViewBag.socialservicedata.SocialServiceName
    <br />
    Event Date= @ViewBag.socialservicedata.EventDate
    <br />
    No of Volunteer = @ViewBag.socialservicedata.NoOfVolunteer
    <br />
    Description = @ViewBag.socialservicedata.Description
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First_Name)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact_Number)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.First_Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact_Number)
            </td>


        </tr>
    }

</table>
