<div>
    <br />
    @Html.ActionLink("Event", "EventReport")
    <br />
    @Html.ActionLink("Suggestions", "CampaignReport")
    <br />
    @Html.ActionLink("Campaign", "SuggestionsReport")
    <br />
    @Html.ActionLink("Attendences", "AttendencesReport")
    <br />
    @Html.ActionLink("Idea", "IdeaReport")
</div>