@model IEnumerable<University_Website.Models.SocialService>

@{
    ViewBag.Title = "Socialservicereport";
}

<h2>Socialservicereport</h2>

<p>
    @Html.ActionLink("Generate Report", "SocialServicereportspdf")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SocialServiceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfVolunteer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SocialServiceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfVolunteer)
        </td>
        <td>
            @Html.ActionLink("Generate Report", "Perticularsocialservicereport", new { id=item.SocialServiceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SocialServiceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SocialServiceId })
        </td>
    </tr>
}

</table>
